In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Class
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
143,146,6.7,3.0,5.2,2.3,Iris-virginica
144,147,6.3,2.5,5.0,1.9,Iris-virginica
145,148,6.5,3.0,5.2,2.0,Iris-virginica
146,149,6.2,3.4,5.4,2.3,Iris-virginica
147,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  148.000000     148.000000    148.000000     148.000000    148.000000
mean    75.385135       5.833784      3.052027       3.758108      1.196622
std     43.305830       0.818623      0.435573       1.756001      0.760094
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.750000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.250000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
df["Class"].value_counts()

Class
Iris-versicolor    50
Iris-setosa        49
Iris-virginica     49
Name: count, dtype: int64

In [6]:
y = df["Class"]
x = df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
model = SVC()

model.fit(x,y)
model.predict([[7.7,3.0,6.1,2.3]])

c:\Users\serhan1\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array(['Iris-virginica'], dtype=object)